<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Cart</title>

<link rel="icon" href="static/img/core-img/favicon.ico">

<link rel="stylesheet" href="static/css/core-style.css">
<link rel="stylesheet" href="static/style.css">
</head>
<body>

<div class="search-wrapper section-padding-100">
<div class="search-close">
<i class="fa fa-close" aria-hidden="true"></i>
</div>
<div class="container">
<div class="row">
<div class="col-12">
<div class="search-content">
<form action="#" method="get">
<input type="search" name="search" id="search" placeholder="Type your keyword...">
<button type="submit"><img src="static/img/core-img/search.png" alt=""></button>
</form>
</div>
</div>
</div>
</div>
</div>


<div class="main-content-wrapper d-flex clearfix">

<div class="mobile-nav">

<!-- <div class="amado-navbar-brand">
<a href="index-2.html"><img src="static/img/core-img/logo.png" alt=""></a>
</div> -->

<div class="amado-navbar-toggler">
<span></span><span></span><span></span>
</div>
</div>

<header class="header-area clearfix">

<div class="nav-close">
<i class="fa fa-close" aria-hidden="true"></i>
</div>

<!-- <div class="logo">
<a href="index-2.html"><img src="static/img/core-img/logo.png" alt=""></a>
</div> -->

<nav class="amado-nav">
<ul>
<li><a href="/">Home</a></li>


<li class="active"><a href="{{url_for('cart')}}">Cart</a></li>
<!-- <li><a href="checkout.html">Checkout</a></li> -->
</ul>
</nav>

<!-- <div class="amado-btn-group mt-30 mb-100">
<a href="#" class="btn amado-btn mb-15">%Discount%</a>
<a href="#" class="btn amado-btn active">New this week</a>
</div> -->

<div class="cart-fav-search mb-100">
<a href="cart.html"  class="cart-nav"><img src="static/img/core-img/cart.png" alt=""> Cart <span id="lilcart">({{cart}})</span></a>
</div>

</header>
 
<div class="cart-table-area section-padding-100">
<div class="container-fluid">
<div class="row">
<div class="col-12 col-lg-8">
<div class="cart-title mt-50">
<h2>Shopping Cart</h2>
</div>
<div class="cart-table clearfix">
<table class="table table-responsive">
<thead>
<tr>
<th></th>
<th>Name</th>
<th>Price</th>
<!-- <th></th> -->
</tr>
</thead>
<tbody>

{% for x in items%}
<tr>
<td class="cart_product_img">
<a href="#"><img src="{{x['src']}}"" alt="Product"></a>
</td>
<td class="cart_product_desc">
<h5>{{x['name']}}</h5>
</td>
<td class="price">
<span>{{x['cost']}}</span>
</td>
<td class="qty">

<div class="quantity">
        <button  id="{{loop.index}}" class="btn" onClick="del(this.id)">Delete</button>
</div>
</div>
</td>
</tr>
{% endfor %}

</tbody>
</table>
</div>
</div>
<div class="col-12 col-lg-4">
<div class="cart-summary">
<h5>Cart Total</h5>
<ul class="summary-table">
<li><span>subtotal:</span> <span id="liltotal">${{total}}</span></li>
<li><span>delivery:</span> <span>Free</span></li>
<li><span>total:</span> <span>${{total}}</span></li>
</ul>
<div class="cart-btn mt-100">
<a href="#" class="btn amado-btn w-100">Checkout</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>







<script src="static/js/jquery/jquery-2.2.4.min.js" type="3b61281cb66cedf27aad9b00-text/javascript"></script>

<script src="static/js/popper.min.js" type="3b61281cb66cedf27aad9b00-text/javascript"></script>

<script src="static/js/bootstrap.min.js" type="3b61281cb66cedf27aad9b00-text/javascript"></script>

<script src="static/js/plugins.js" type="3b61281cb66cedf27aad9b00-text/javascript"></script>

<script src="static/js/active.js" type="3b61281cb66cedf27aad9b00-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="3b61281cb66cedf27aad9b00-text/javascript"></script>
<!-- <script type="3b61281cb66cedf27aad9b00-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script> -->
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="3b61281cb66cedf27aad9b00-|49" defer=""></script></body>

<!-- Mirrored from colorlib.com/preview/theme/amado/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Oct 2019 17:00:46 GMT -->
</html>